header {
  padding: 50px;
}
  
.main-container {
  display: flex;
  flex-direction: row;
}

.grid-tarjetas{
  display: grid;
  justify-content: center;
  background-color: var(--secondary-color);
  font-size: 1.2rem;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 3rem;
  margin-top: -20px;
}