.grid {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.mensaje-agregar-tarjeta{
  margin-top: 80px;
  font-size: 18px;
}

.img__container{
  border-radius: 5px;
  padding: 0;
  margin: 1rem 0;
}
.weather__img{
  width:80%;
  border-radius: 5px;
}
