section{
  width: 100%;
}
.grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding:  1rem;
  margin: auto;
}

.mensaje-agregar-tarjeta{
  margin-top: 80px;
  font-size: 18px;
}

.img__container{
  border-radius: 5px;
  padding: 0;
  margin: 1rem 0;
}

.weather__img{
  width:80%;
  border-radius: 5px;
}

.icon__display .weather__icon__icon{
  font-size: 3rem;
}

.icon__display .weather__icon small{
  font-size: 0.75rem;
}

/* .search__input {
  appearance: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 30%;
  margin: 1rem auto;
  border: 1px solid gray;
}
 */
.input__busqueda{
  width: 30%;
  margin: auto;
  border-bottom: 2px solid grey;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  2rem;
  }
  .input__busqueda{
    width: 50%;
  }
  
}


@media screen and (min-width: 280px) and (max-width: 767px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding:  2rem;
  }
  .input__busqueda{
    width: 80%;
  }
}